{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post">
  <div class="mb-3">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <input type="text" name="title"
           placeholder="Post title" class="form-control"
           value="{{ request.form['title'] }}">
  </div>

  <div class="mb-3">
    <label for="content" class="col-sm-2 col-form-label">Content</label>
    <textarea name="content" placeholder="Post content"
              class="form-control" rows="3">{{ request.form['content'] }}</textarea>
  </div>
  <div class="mb-3">
  <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</p>
{% if filename %}
<div>
    <img src="{{ url_for('display_image', filename=filename) }}">
</div>
{% endif %}

</form>
{% endblock %}
