<header>

  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="{{url_for('static', filename='images/logo1.JPG')}}" width="30" height="30" class="d-inline-block align-top" alt="">
        <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
        <span style="color:red">Flask</span>Blog</a>
    <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="">Об авторе</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Технологии</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="">Войти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="">Регистрация</a>
    </li>
  </ul>
  </div>
  </nav>
</header